[Desktop Entry]
Name=Spotify
GenericName=Spotify
Comment=Launch Spotify minimized to tray via KDocker
Exec=kdocker -q -f spotify --disable-accelerated-video-decode --no-zygote
Icon=~/.local/share/icons/Apps/spotify.png
Terminal=false
Type=Application
Categories=Audio;Music;Player;
StartupNotify=false
Path=
