[Desktop Entry]
Type=Application
Name=suckless terminal
Comment=simple-terminal emulator for X
Icon=~/.local/share/icons/Apps/simple_terminal.png
Exec=kdocker -f -q st
Categories=System;TerminalEmulator
Path=
Terminal=false
StartupNotify=true
