[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[en_US]=
Comment=
Exec=openapp --claude
GenericName[en_US]=Chat OpenAi
GenericName=Chat OpenAi
Icon=claude
MimeType=text/html;image/webp;image/png;image/jpeg;image/gif;application/xml;application/xml;application/xhtml+xml;application/rss+xml;application/rdf+xml;application/pdf;
Name[en_US]=ClaudeAi
Name=ClaudeAi
Path=
StartupNotify=true
StartupWMClass=chromium-browser
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
