[Desktop Entry]
Type=Application
Name=st - suckless terminal
Comment=simple-terminal emulator for X
Icon=/home/tquilla/.config/Assets/Icons/terminal.png
Exec=kdocker -f -q st -c TerminalDefault
Categories=System;TerminalEmulator
Path=
Terminal=false
StartupNotify=true
