* {
  all: unset; // Reset semua style
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  color: #ffffff; // Warna foreground putih
}

@import "./colors.scss";
@import "./calendar/calendar.scss";
@import "./cheatsheet/cheatsheet.scss";
@import "./topbar/topbar.scss";
