.bar {
  background-color: transparent; // Background transparan
  padding: 0 10px;
  border: 1px solid $bg-alt;
}

.left,
.center,
.right {
  padding: 5px;
}

.metric,
.workspaces button,
.mpd-controls button,
.window-title {
  margin: 0 5px; // Memberi sedikit jarak antar elemen
}

.workspaces button {
  padding: 0 5px;
  font-weight: bold;
  &.occupied {
    // Style untuk workspace yang terisi
  }
  &.active {
    color: #7aa2f7; // Warna biru untuk workspace aktif
  }
  &.empty {
    color: #444444; // Warna abu-abu untuk workspace kosong
  }
}

.workspace-btn {
  padding: 0 8px; /* Memberi jarak di sekitar ikon */
  font-size: 14px; /* Perbesar ukuran ikon agar lebih jelas */
  font-weight: bold;

  &.occupied {
    color: #ffffff; /* Warna ikon untuk workspace yang terisi tapi tidak aktif */
  }
  &.active {
    color: #7aa2f7; /* Warna ikon untuk workspace yang aktif */
  }
  &.empty {
    color: #555555; /* Warna ikon untuk workspace kosong */
  }
}

.mpd-launcher {
  font-size: 14px;
  padding: 0 5px;
  &:hover {
    color: #c0caf5; /* Warna saat mouse hover */
  }
}

.mpd-controls button {
  font-size: 12px;
  &:hover {
    color: #c0caf5;
  }
}

.window-title {
  font-weight: bold;
}
